@import "../../style/scss/variables";

.header {
  max-width: 100%;
  box-shadow: 5px 5px 40px grey;
}
.brand {
  color: azure;
  width: 23%;
  margin-left: 1%;
  padding: 0.8em;
}
.top-nav-row div {
  display: inline-block;
}

.row {
  margin-right: 0;
}
.dropdown {
  width: 15%;
}
.inp-container input {
  display: inline-block;
  width: 75%;
  height: $element-height;
}
.inp-container button {
  float: right;
  height: $element-height;
  width: 10%;
  border: none;
  background-color: darkcyan;
}
.select-btn {
  height: $element-height;
  font-weight: 600;
  border: none;
  background-color: darkcyan;
}
.login-container {
  width: 15%;
  color: white;
  text-align: right;
  margin: 1.7em 0.2em 0 0;
}
.login-container i,
h5 {
  display: inline-block;
}
.login-container a {
  text-decoration: none;
  color: aliceblue;
}
.user-icon {
  margin-right: 0.4em;
  padding: 0.2em;
  font-size: $icon-font;
}
.cart-wishlist .list-icon {
  color: aliceblue;
  font-size: $icon-font;
  list-style-type: none;
  display: inline-block;
  margin-right: 0.5em;
}
.cart-wishlist {
  width: 7%;
  margin-top: 1.7em;
  margin-left: 1em;
}
